.DS_Store
env
__pycache__
students.csv
fstudents.csv
*review.docx
.ipynb_checkpoints
homeworks/
lectures/survey-methods-slides-2022-23.pdf
code/2022-23
data/2022-23
# homeworks/guides/*
# homeworks/reviews/*
# !/homeworks/reviews/h02/
# !/homeworks/reviews/final/
.gitignore